{% extends 'mtunes/basic.html' %}
{% block title%}All Songs  {%endblock%}

{%block body%}
<div class = "container"style =  "padding-top: 3%;">

  {% for i in song reversed %}
  <div class="card mb-3" style="max-width: 600px; padding-top: 0%;">
      <div class="row no-gutters">
        <div class="col-md-0">
          <img src="../../../{{i.image}}" class="card-img" alt="...">
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <h5 class="card-title" style=" font-weight: 550;">{{i.name}}</h5>
            <p class="card-text">Artist: </p>
          <h6 class="card-title">{{i.singer}}</h6>
          <hr>
          
          {% if user.is_authenticated %}
          <form action="/mtunes/history" method="POST">{% csrf_token %}
            <input type="hidden" name="music_id" value="{{i.song_id}}">
            <a href="/mtunes/songs/{{i.song_id}}"><button class="btn btn-outline-danger">Listen Song</button></a>
          </form>
          {% else %}
          <a href="/mtunes/songs/{{i.song_id}}"><button class="btn btn-outline-danger">Listen Song</button></a>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{%endblock%}