{%extends 'mtunes/basic.html'%}
{% block title%}Mtunes{% endblock %}

{% block body %}
{% load static %} 
<h1 style="color: rgb(158, 60, 60); text-align: center;">Watch Later</h1>

{% if song|length < 1 %}
        <h3 style="text-align: center; padding-top: 5%;">You have no Video in your Watch Later</h3>
{% endif %}

<div class="container">
{% for i in song reversed %}
<div class="card mb-3" style="max-width: 940px; padding-top: 0%;">
    <div class="row no-gutters">
      <div class="col-md-">
        <img src="../../../{{i.image}}" class="card-img" alt="...">
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h1 class="card-title" style="color: green; font-weight: 550;">{{i.name}}</h1>
          <p class="card-text">Artist: </p>
        <h6 class="card-text">{{i.singer}}</h6>
        <hr>
          <a href="/mtunes/songs/{{i.song_id}}"><button class="btn btn-outline-danger">Listen Song</button></a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>

{% endblock %}